<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap-3.3.7.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b9f6edfaa2.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="~/Content/Jquery 3.2.1/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/angular-resource.js"></script>
    <script src="~/Scripts/Jquery/jquery-ui.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script>var _ConPath = '@System.Web.Configuration.WebConfigurationManager.AppSettings["ConPath"]';</script>
    <script>var _URLHostName = '@System.Web.Configuration.WebConfigurationManager.AppSettings["URLHostName"]';</script>
    <script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.min.js"></script>
    <script src="~/Scripts/Module/ng-table.src.js"></script>
    <script src="~/Scripts/Module/ng-tags-input.js"></script>
    <link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />

    @* Stylesheet *@
    <style>
        .Requed {
            color: red;
            font-size: 20px;
        }

        .activediv {
            display: inline;
        }

        .deactivediv {
            display: none;
        }

        #Home-Index #topBar {
            display: none;
        }

        /*Dropdown Mwnu Style*/
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }

        .ng-table-pager {
            display: none;
        }

        .TextBoxStyle {
            height: 25px;
        }

        .AddNew {
            float: right;
            position: relative;
        }

        .right-inner-addon {
            position: relative;
        }

            .right-inner-addon input {
                padding-right: 30px;
            }

            .right-inner-addon i {
                position: absolute;
                right: 0px;
                padding: 10px 12px;
                pointer-events: none;
            }
    </style>
    @* Submenu Script *@
    <script>
        $(document).ready(function () { $('.dropdown-submenu a.test').on("click", function (e) { $(this).next('ul').toggle(); e.stopPropagation(); e.preventDefault(); }); });
    </script>
    @* Function For Sync All Master Data Of Employees *@
    <script>
        function AutoSync() {
            var xhr = new XMLHttpRequest(); xhr.open('GET', _ConPath + 'SyncAllEmployees?curUser=' + $('#myEmpUnqId').val(), true);
            xhr.setRequestHeader('Accept', 'application/json'); xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert('Record Syncronization Completed');
                };
            }; xhr.send();
        };
    </script>
    @* Set Header & Footer Text*@
    <script type="text/javascript">
        $(document).ready(function () { $('#headtext').text("Work Force Portal - Jindal SAW Ltd."); $('#footext').text("JINDAL SAW LTD."); });
    </script>
</head>
<body>
    <input type="hidden" value="@Session["EmpUnqId"]" id="myEmpUnqId" />
    <input type="hidden" value="@Session["EmpName"]" id="myEmpName" />
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner" id="navmain">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <img src="~/Images/JINDALLOGO.jpg" class="img-thumbnail" style="float:left;height:56px;width:56px;" />
                <label class="navbar-brand" style="color:white" id="headtext"></label>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                <strong>
                                    @Session["EmpName"].ToString() (@Session["EmpUnqId"].ToString())
                                    <b class="caret"></b>
                                </strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li id="mnuProfile"><a href="/Home/MemberProfile">Profile</a></li>
                                <li>@Html.ActionLink("Log Out", "UserLogin", "Login")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="subnavbar" id="mnubar">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">
                    <li class="active" id="mnuDashboard"><a href="/Home/Index"><i class="icon-dashboard"></i><span>Dashboard</span></a></li>
                    <li class="dropdown" id="mnuMaster">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list-alt"></i><span>Master</span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create New Supervisor", "CreateSupervisor", "ManageUser")</li>
                            <li>@Html.ActionLink("Employee Acceptance ~ Supervisor", "AssignCostCodeSupervisor", "ManageUser")</li>
                            <li>@Html.ActionLink("Employee CostCode Change ~ HR", "ManageCostCodeHR", "ManageUser")</li>
                        </ul>
                    </li>
                    <li class="dropdown" id="mnuReport">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list"></i><span>Report</span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Supervisor List", "GetSupervisorList", "Report")</li>
                        </ul>
                    </li>
                    <li class="dropdown" id="mnuUitility">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-magnet"></i><span>Uitility</span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Reset Acceptance", "ResetAcceptance", "ManageUser")</li>
                            <li><a href="#" onclick="AutoSync()">Syncronize Employees</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-inner">
            <div class="container HTMLCONTAIN">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-fixed-bottom" style="height:30px;">
        <div class="navbar-inner">
            <div class="container">
                <div class="brand" style="text-align:center;color:white"><span><label id="footext"></label></span></div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
</body>
</html>